CONFIG_ARM=y
CONFIG_ARCH_SPRD=y
CONFIG_TARGET_SP7731E_1H20=y
CONFIG_OF_CONTROL=y
CONFIG_OF_LIBFDT_OVERLAY=y
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_NET is not set
CONFIG_DM=y
CONFIG_CLK=y
CONFIG_DM_SC27XX_ADC=y
CONFIG_DM_SPI=y
CONFIG_DM_SPRD_ADI=y
CONFIG_DM_SC27XX_EFUSE=y
CONFIG_DM_SPRD_EFUSE=y
CONFIG_DM_SPRD_SPI=y
# CONFIG_MISC is not set
CONFIG_DM_SC27XX_VIBRA=y
# CONFIG_LED is not set
CONFIG_LED_SC27XX=y
CONFIG_LED_BLINK=y
CONFIG_DMA=y
CONFIG_SPRD_DMA=y
CONFIG_DMA_CHANNELS=y
