CONFIG_ARM=y
CONFIG_ARCH_SPRD=y
CONFIG_TARGET_UMS512_1H10=y
CONFIG_OF_CONTROL=y
# CONFIG_FPGA=y
CONFIG_OF_LIBFDT_OVERLAY=y
# CONFIG_CMD_BDI is not set
# CONFIG_CMD_ECHO is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_IMI is not set
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_MEMORY is not set
# CONFIG_CMD_NET is not set
# CONFIG_CMD_RUN is not set
# CONFIG_CMD_SAVEENV is not set
# CONFIG_CMD_SOURCE is not set
CONFIG_DM=y
CONFIG_CLK=y
CONFIG_DM_SC27XX_ADC=y
CONFIG_DM_SPI=y
CONFIG_DM_SPRD_SPI=y
CONFIG_DM_SPRD_ADI=y
CONFIG_PMIC_CHILDREN=y
CONFIG_DM_PMIC=y
CONFIG_DM_REGULATOR=y
CONFIG_OF_PLATDATA=y
CONFIG_DM_PMIC_SC2730=y
CONFIG_DM_REGULATOR_SC2730=y
CONFIG_DM_SC27XX_EFUSE=y
CONFIG_DM_SPRD_EFUSE=y
CONFIG_DM_DSPBOOT=y
# CONFIG_DM_SERIAL=y
# CONFIG_SERIAL_PRESENT=y
# CONFIG_MISC is not set
CONFIG_DM_SC27XX_VIBRA=y
# CONFIG_LED is not set
CONFIG_LED_SC27XX=y
CONFIG_LED_BLINK=y
CONFIG_DMA=y
CONFIG_SPRD_DMA=y
CONFIG_DMA_CHANNELS=y
CONFIG_DM_FGU=y
CONFIG_DM_RTC=y
CONFIG_RTC_SC27XX=y
CONFIG_DM_I2C=y
CONFIG_FAN54015_CHARGE_IC=y
