CONFIG_ARM=y
CONFIG_ARCH_SPRD=y
CONFIG_TARGET_UMS9230_1H10=y
CONFIG_OF_CONTROL=y
CONFIG_OF_LIBFDT_OVERLAY=y
# CONFIG_CMD_BDI is not set
# CONFIG_CMD_ECHO is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_IMI is not set
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_MEMORY is not set
# CONFIG_CMD_NET is not set
# CONFIG_CMD_RUN is not set
# CONFIG_CMD_SAVEENV is not set
# CONFIG_CMD_SOURCE is not set
# CONFIG_DM_SERIAL is not set
CONFIG_DM=y
CONFIG_CLK=y
CONFIG_DM_I2C=y
# CONFIG_BQ2560X_CHARGE_IC is not set
CONFIG_SGM41513A_CHARGE_IC=y
