if TARGET_UMS9230_HAPS_FLASH

config SYS_BOARD
	default "ums9230_haps_flash"

config SYS_VENDOR
	default "spreadtrum"

config SYS_SOC
	default "qogirl6"

config SYS_CONFIG_NAME
	default "ums9230_haps_flash"

config SYS_TEXT_BASE
	default 0x9f000000

endif
